#
# Usage:
#  See the PHPStan wrapper "bin/phpstan".
#
# File format:
#  @see https://phpstan.org/config-reference
#
parameters:
  phpVersion: 70400                                 # assume PHP 7.4 if running under a different PHP version
  level:      6                                     # a rule level on the command line overrides this hardcoded value

  bootstrapFiles:                                   # API stubs of unloaded PHP extensions
    #- api.php

  scanFiles:                                        # additional non-autoloaded files to scan for symbols
    #- ../../app/helpers.php

  paths:                                            # paths on the command line override these hardcoded values
    - ../../app
    - ../../web

  excludePaths:
    - ../../vendor/

  reportUnmatchedIgnoredErrors: false

  parallel:
    maximumNumberOfProcesses: 8
  tmpDir:       .tmp
  tipsOfTheDay: false
